extends ../layout.pug
 
block content
    h1 #{completed.task.title}
    p <strong>Date Published:</strong> #{completed.score}
    p <strong>Date Published:</strong> #{completed.task.datepublished}
    p <strong>Description:</strong> #{completed.task.description}
