extends ../layout.pug

block content
  h1 Add Student
  form(action="/students/create" method="post")
    div(class="mb-3")
      label(for="studentid" class="form-label") Student ID
      input(type=number class="form-control" name="studentid" value="" placeholder="5 digit student code" required)

    div(class="mb-3")
      label(for="name") Name
      input(type="text" class="form-control" name="name" value="" placeholder="Firstname Lastname" required)

    div(class="mb-3")
      label(for="email") Email
      input(type="email" class="form-control" name="email" value="" placeholder="name@example.com" required)

    input(class="btn btn-outline-dark" type="submit" value="Submit")
    