extends ../layout.pug
 
block content
    h1 #{student.name}
    p <strong>Student ID:</strong> #{student.studentid}
    p <strong>Email:</strong> #{student.email}
    p <strong>Score:</strong> #{student.score}
